p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul,
ol {
  margin: 0px;
  padding-left: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
