:root {
  --primary-color: #84a178;
  --second-color: #fcfcfc;
  --additional-color: #131313;
  --accent-link-color: #f8d24e;
  --focus-color: #0a8817;
  --disabled-color: #ababab;

  --main-font: 'Montserrat', sans-serif;
}
