<section class="about container">
  <h1 class="about-title">tradition and love</h1>
  <h2 class="about-pretitle">how it’s made?</h2>
  <div class="about-box">
    <div class="about-information-box">
      <picture class="about-image">
        <source
          srcset="
            ./images/Desctop/cow-desctop.png   1x,
            ./images/Desctop/cow-desctop-2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/Tablet/cow-tablet.png    1x,
            ./images/Tablet/cow-tablet-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/Mobile/cow-mobile.png     1x,
            ./images/Mobile/cow-mobile-2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="./images/Mobile/cow-mobile.png"
          alt="cow is eating grass"
        />
      </picture>
      </div>
    <div class="about-info-box">
      <ul class="about-information-list list">
        <li class="about-information-item">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </li>
        <li class="about-information-item">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </li>
        <li class="about-information-item">
          This is enough to choose ice cream and coffee for any mood!
        </li>
      </ul>
      <button type="button" class="about-information-btn btn">
        Read more
        <svg class="about-information-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-buy_now"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="about-description-box">
    <ul class="about-description-list list">
      <li class="about-description-item">
        <div class="about-description-image">
          <svg width="36" height="36">
            <use href="./images/icons.svg#icon-cow"></use>
          </svg>
        </div>
        <h3 class="about-description-title">721</h3>
        <p class="about-description-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="about-description-item">
        <div class="about-description-image">
          <svg width="36" height="36">
            <use href="./images/icons.svg#icon-weight"></use>
          </svg>
        </div>
        <h3 class="about-description-title">16kg</h3>
        <p class="about-description-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="about-description-item">
        <div class="about-description-image">
          <svg width="36" height="36">
            <use href="./images/icons.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <h3 class="about-description-title">84</h3>
        <p class="about-description-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
