<section class="advantages">
<div class="container">
 <div>
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
        <li class="advantages-list__item advantages-item-1">
            <h3 class="advantages-list__title">721</h3>
            <p class="advantages-list__text language-advantages-1">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-list__item advantages-item-2">
            <h3 class="advantages-list__title">16kg</h3>
            <p class="advantages-list__text language-advantages-2">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-list__item advantages-item-3">
            <h3 class="advantages-list__title">84</h3>
            <p class="advantages-list__text language-advantages-3">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
 </div>
</div>
</section>