<section class="advantages">
<div class="container">
 <div>
    <h2 class="visually-hidden title-advantages-hiden">Advantages</h2>
    <ul class="advantages-list">
        <li class="advantages-item ">
            <h2 class="advantages-item_title">721</h2>
            <p class="advantages-item_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
            <h2 class="advantages-item_title">16kg</h2>
            <p class="advantages-item_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item">
            <h2 class="advantages-item_title">84</h2>
            <p class="advantages-item_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
 </div>
</div>
</section>