<section id="contacts" class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <address>
      <ul class="contacts__list list">
        <li class="contacts__item">
          <span class="contacts__item-title">CAFE</span>
          <ul class="contacts__cards list">
            <li class="contacts__cards">
              <p class="contacts__cards-city">Chicago</p>
              <a
                href="https://goo.gl/maps/wwAdtzPDqrWDnuPZ8"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="contacts__cards-address contacts__cards-address--narrow link"
              >
                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
              </a>
            </li>
            <li class="contacts__cards">
              <p class="week-day">Monday - Friday</p>
              <p class="week-time">06:00 AM - 10:00 PM</p>
              <p class="week-day">Saturday - Sunday</p>
              <p class="week-time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__cards">
              <a href="tel:+610383766284" class="contacts__cards-link link"
                >+61(0) 383 766 284</a
              ><br />
              <a
                href="mailto:noreply@envato.com"
                class="contacts__cards-link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <span class="contacts__item-title">FOODTRUCK</span>
          <ul class="contacts__cards list">
            <li class="contacts__cards">
              <p class="contacts__cards-city">Los Angeles</p>
              <a
                href="https://goo.gl/maps/9mNiHGhm2AnnroAG6"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="contacts__cards-address link"
              >
                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
              </a>
            </li>
            <li class="contacts__cards">
              <p class="week-day">Monday - Friday</p>
              <p class="week-time">06:00 AM - 10:00 PM</p>
              <p class="week-day">Saturday - Sunday</p>
              <p class="week-time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__cards">
              <a href="tel:+610383766284" class="contacts__cards-link link"
                >+61(0) 383 766 284</a
              ><br />
              <a
                href="mailto:noreply@envato.com"
                class="contacts__cards-link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <span class="contacts__item-title">CAFE</span>
          <ul class="contacts__cards list">
            <li class="contacts__cards">
              <p class="contacts__cards-city">New York</p>
              <a
                href="https://goo.gl/maps/Anxw3dC4tZNZ6hEF6"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="contacts__cards-address link"
              >
                726 Sterling Pl, Brooklyn, NY 11222, USA
              </a>
            </li>
            <li class="contacts__cards">
              <p class="week-day">Monday - Friday</p>
              <p class="week-time">06:00 AM - 10:00 PM</p>
              <p class="week-day">Saturday - Sunday</p>
              <p class="week-time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__cards">
              <a href="tel:+610383766284" class="contacts__cards-link link"
                >+61(0) 383 766 284</a
              ><br />
              <a
                href="mailto:noreply@envato.com"
                class="contacts__cards-link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts__button-list list">
        <li class="contacts-button">
          <button class="contacts__button btn">
            Our Locations
            <svg class="contacts__icon" width="12px" height="12px">
              <use href="./images/icons.svg#icon-buy_now"></use>
            </svg>
          </button>
        </li>
        <li class="contacts-button">
          <button class="contacts__button contacts__button--franchise btn">
            Franchise
            <svg
              class="contacts__icon contacts__icon--position"
              width="12px"
              height="12px"
            >
              <use href="./images/icons.svg#icon-buy_now"></use>
            </svg>
          </button>
        </li>
      </ul>
    </address>
  </div>
</section>
