<section id="contact" class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <address>
      <ul class="contacts__list list">
        <li class="contacts__item">
          <span class="contacts__item-title language-contacts__item-title"
            >CAFE</span
          >
          <ul class="contacts__cards list">
            <li class="contacts__cards">

              <p class="contacts__cards-city language-contacts__cards-city">
                Chicago
              </p>
              <a
                href="https://goo.gl/maps/9Ze7EkK1HeeVNBnd8"
                target="_blank"
                rel="noopener noreferrer nofollow"
                class="contacts__cards-address link"

                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
              </a>
            </li>
            <li class="contacts__cards">
              <p class="week-day language-day-1">Monday - Friday</p>
              <p class="week-time language-time-1">06:00 AM - 10:00 PM</p>
              <p class="week-day language-day-2">Saturday - Sunday</p>
              <p class="week-time language-time-2">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__cards">
              <a href="tel:+610383766284" class="contacts__cards-link link"
                >+61(0) 383 766 284</a
              ><br />
              <a
                href="mailto:noreply@envato.com"
                class="contacts__cards-link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <span class="contacts__item-title language-contacts__item-title2"
            >FOODTRUCK</span
          >
          <ul class="contacts__cards list">
            <li class="contacts__cards">

              <p class="contacts__cards-city language-contacts__cards-city2">
                Los Angeles
              </p>
              <a
                href="https://goo.gl/maps/9Ze7EkK1HeeVNBnd8"

                target="_blank"
                rel="noopener noreferrer nofollow"
                class="contacts__cards-address link"
              >
                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
              </a>
            </li>
            <li class="contacts__cards">
              <p class="week-day language-day-1">Monday - Friday</p>
              <p class="week-time language-time-1">06:00 AM - 10:00 PM</p>
              <p class="week-day language-day-2">Saturday - Sunday</p>
              <p class="week-time language-time-2">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__cards">
              <a href="tel:+610383766284" class="contacts__cards-link link"
                >+61(0) 383 766 284</a
              ><br />
              <a
                href="mailto:noreply@envato.com"
                class="contacts__cards-link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <span class="contacts__item-title language-contacts__item-title"
            >CAFE</span
          >
          <ul class="contacts__cards list">
            <li class="contacts__cards">

              <p class="contacts__cards-city language-contacts__cards-city3">
                New York
              </p>
              <a
                href="https://goo.gl/maps/9Ze7EkK1HeeVNBnd8"

                target="_blank"
                rel="noopener noreferrer nofollow"
                class="contacts__cards-address link"
              >
                726 Sterling Pl, Brooklyn, NY 11222, USA
              </a>
            </li>
            <li class="contacts__cards">
              <p class="week-day language-day-1">Monday - Friday</p>
              <p class="week-time language-time-1">06:00 AM - 10:00 PM</p>
              <p class="week-day language-day-2">Saturday - Sunday</p>
              <p class="week-time language-time-2">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__cards">
              <a href="tel:+610383766284" class="contacts__cards-link link"
                >+61(0) 383 766 284</a
              ><br />
              <a
                href="mailto:noreply@envato.com"
                class="contacts__cards-link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts__button-list list">
        <li class="contacts-button">
          <button class="contacts__button language-contacts__button btn">
            Our Locations
            <svg class="contacts__icon" width="12px" height="12px">
              <use href="./images/icons.svg#icon-buy_now"></use>
            </svg>
          </button>
        </li>
        <li class="contacts-button">

          <button class="contacts__button language-contacts__button-2 contacts__button--bcgcolor btn">

            Franchise
            <svg
              class="contacts__icon contacts__icon--position"
              width="12px"
              height="12px"
            >
              <use href="./images/icons.svg#icon-buy_now"></use>
            </svg>
          </button>
        </li>
      </ul>
    </address>
  </div>
</section>
