<section class="gallary">
    <div class="container">
        <h2 class="visually-hidden">Gallary</h2>
        <div class="one-time">
            <div class="gallary__wrapper">
                <img srcset="./images/desktop/many_cornouts-desktop.jpg  1x, ./images/desktop/many_cornouts-desktop-2x.jpg 2x"
                src="./images/desktop/many_cornouts-desktop.jpg" alt="ice cream in waffle cups with blueberries"
                    width="1013" class="gallary__wall">
                <picture>
                    <source srcset="./images/desktop/many_cornouts-desktop.jpg  1x, ./images/desktop/many_cornouts-desktop-2x.jpg 2x" 
                        media="(min-width: 1200px)">
                    <source srcset="./images/Tablet/many_cornouts-tablet.jpg 1x, ./images/Tablet/many-cornouts-tablet-2x.jpg 2x" 
                        media="(min-width: 768px)">
                    <source srcset="./images/480/many_cornouts-480.jpg 1x, ./images/480/many-cornouts-480-2x.jpg 2x" 
                        media="(min-width: 480px)">
                    <source srcset="./images/Mobile/many_cornouts-mobile.jpg 1x, ./images/Mobile/many_cornouts-mobile-2x.jpg 2x"
                        media="(min-width: 320px)">
                </picture>
            </div>
            <div class="gallary__wrapper">
                <img srcset="./images/desktop/slider-courtney-cook.jpg 1x, ./images/desktop/slider-courtney-cook-2x.jpg 2x"
                src="./images/desktop/slider-courtney-cook.jpg" alt="ice cream in waffle cups" width="1013" class="gallary__wall">
                
            </div>
            <div class="gallary__wrapper">
                <img srcset="./images/desktop/slider-unsplash.jpg 1x, ./images/desktop/slider-unsplash-2x.jpg 2x "
                src="./images/desktop/slider-unsplash.jpg" alt="ice cream on a stick" width="1013" class="gallary__wall">
        
            </div>
        </div>
    </div>

</section>