<section class="gallary">
    <div class="container gallary__container">
        <h2 class="visually-hidden">Gallary</h2>
        <div class="one-time">
            <div class="gallary__wrapper">
                <img srcset="./images/desktop/many-cornouts-desktop.jpg 1x, ./images/desktop/many-cornouts-desktop-2x.jpg 2x"
                    src="./images/desktop/many-cornouts-desktop.jpg" alt="ice cream in waffle cups with blueberries"
                    width="1013" class="gallary__img">
                <picture>
                    <source
                        srcset="./images/desktop/many-cornouts-desktop.jpg 1x, ./images/desktop/many-cornouts-desktop-2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <source
                        srcset="./images/tablet/many-cornouts-tab.jpg 1x, ./images/tablet/many-cornouts-tab-2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/480/many-cornouts-480.jpg 1x, ./images/480/many-cornouts-480-2x.jpg 2x"
                        media="(min-width: 480px)">
                    <source
                        srcset="./images/mobile/many-cornouts-mob.jpg 1x, ./images/mobile/many-cornouts-mob-2x.jpg 2x"
                        media="(min-width: 320px)">
                </picture>
            </div>
            <div class="gallary__wrapper">
                <img srcset="./images/desktop/slider-courtney-cook.jpg 1x, ./images/desktop/slider-courtney-cook-2x.jpg 2x"
                    src="./images/desktop/slider-courtney-cook.jpg" alt="ice cream in waffle cups" width="1013"
                    class="gallary__img">

            </div>
            <div class="gallary__wrapper">
                <img srcset="./images/desktop/slider-unsplash.jpg 1x, ./images/desktop/slider-unsplash-2x.jpg 2x "
                    src="./images/desktop/slider-unsplash.jpg" alt="ice cream on a stick" width="1013"
                    class="gallary__img">

            </div>
        </div>
    </div>

</section>