<section class="container-hero">
    <div class="container">
        <div class="hero-wrapper">
            <div class="hero-container">
                <h1 id="home" class="hero-title language-hero">Ice cream made with passion</h1>
                <button type="button" class="btn btn-hero language-hero-btn" id="">Products </button>
                <a href="#" class="hero-container-link language-hero-link">How it’s made?</a>
            </div>
            <div class="hero-bubbles-wrapper">
                <div class="bubbles">
                    <span class="point" style="--i:18">
                        <svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg>
                    </span>
                    <span class="point" style="--i:26"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:11"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:25"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:24"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:12"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:23"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:14"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:22"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:21"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:15"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:16"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:20"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:19"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:17"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:16"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:17"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:19"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:24"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:12"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:23"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:14"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:27"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:19"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:23"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:14"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:22"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:21"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:15"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:17"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:23"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:24"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:18"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:14"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:20"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:18"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:11"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:17"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:18"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:21"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:23"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:12"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:19"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:20"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:9"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:26"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:11"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:25"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:24"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:12"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:23"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:14"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:11"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:21"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:15"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:16"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:20"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:19"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:17"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:16"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:17"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:19"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:24"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:12"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:23"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:14"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:19"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:23"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:13"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:14"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:22"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:21"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:15"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:20"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:10"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:11"><svg class="hero-snowflake-even">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>
                    <span class="point" style="--i:17"><svg class="hero-snowflake">
                            <use href="./images/icons.svg#icon-snowflake"></use>
                        </svg></span>



                </div>
            </div>

            <div class="hero-ice-creams">
                <img src="./images/Desctop/Many-icecreames-desctop.png" alt="Ice creams">
            </div>

            <div class="hero-readmore">
                <input type="checkbox" id="expanded" class="hero-readmore-input">
                <p class="hero-readmore-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dicta
                    illo maxime eius accusantium nam incidunt quos molestiae enim? Sed eaque modi rerum, nesciunt cumque
                    error maiores magni sequi id.</p>
                <!-- Note: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dicta illo maxime
                                     eius accusantium nam incidunt quos molestiae enim? -->
                <label for="expanded" role="button" class="hero-readmore-label">&#10230;</label>
            </div>

            <div class="hero-ice-cream">
                <img src="./images/Desctop/Cornout-desktop.png" alt="Ice cream">
            </div>

            <div class="hero-franchise">
                <dl class="hero-description">
                    <dt class="hero-description-term">16</dt>
                    <dd class="hero-description-detail language-hero-franchise-1">cafes</dd>

                    <dt class="hero-description-term">23</dt>
                    <dd class="hero-description-detail language-hero-franchise-2">food trucks</dd>
                </dl>
            </div>
        </div>

    </div>
</section>