<div class="our_locations">
    <div class="backdrop is-hidden" data-modal-location>

        <div class="modal-location">

            <button type="button" class="modal-location-close" data-modal-location-close>
                <svg class="modal__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-modal_close-line"></use>
                </svg>
            </button>
            <h2 class="location-title">Our Locations</h2>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1322526.6140619668!2d33.817719415350425!3d49.65317263459006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e5a6576a0d%3A0xcdfded8b7b40ec91!2sPoltava%2C%20Poltava%20Oblast%2C%20Ukraine%2C%2036000!5e0!3m2!1sen!2scz!4v1673822288854!5m2!1sen!2scz"
                class="location-img" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <button type="button" class="location-map btn">
                <a href="https://goo.gl/maps/bsdp44o5tjU6SwWN6" target="_blank" class="btn link"
                    rel="noopener noreferrer nofollow">Open map</a>
            </button>
        </div>
    </div>
</div>