<section class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--green">
        <img />
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </li>
      <li class="products__item products__item--orange">
        <img />
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
      </li>
      <li class="products__item products__item--brown">
        <img />
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
      </li>
    </ul>
  </div>
</section>
