<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden">Reviews</h2>
               <div class="reviews-slick">
            <div class="reviews__wrapper">
                <img src="./images/foto_women.png" width="85" class="reviews__person">
                <p class="reviews__description language-reviews-description">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
                    addition, you have beautiful
                    serving, cozy atmosphere and polite staff.</p>
                <p class="reviews__after--title language-reviews-title">Emily, Los Angeles</p>
            </div>
            <div class="reviews__wrapper">
                <img src="./images/slider-men.png" width="85" class="reviews__person">
                <p class="reviews__description language-reviews-description">Every day we come to you with friends after classes in college. We love your ice cream
                    and casual atmosphere!</p>
                <p class="reviews__after--title language-reviews-title">Bryan, New-York</p>
            </div>
            <div class="reviews__wrapper">
                <img src="./images/slider-women.png" width="85" class="reviews__person">
                <p class="reviews__description language-reviews-description">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
                    excellent service - always
                    served politely and quickly!</p>
                <p class="reviews__after--title language-reviews-title">Diana, Chicago</p>
            </div>
            
        </div>
    </div>

</section>