.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #000000;
  background: var(--accent-link-color);
  border-radius: 10px;
  border: 0px;
  font-family: inherit;
  cursor: pointer;
}
