.advantages {
    background-color: var(--primary-color);
    padding-top: 60px;
    padding-bottom: 80px;
}
.advantages-list {
    display: flex;
    list-style: none;
}
.advantages-item-1::before {
    content: url(../images/advantage-cow.png);
    text-align: center;
}
.advantages-item-2::before {
    content: url(../images/advantage-icecream.png);
    text-align: center;
}
.advantages-item-3::before {
    content: url(../images/advantage-weight.png);
    text-align: center;
}
.advantages-item_title {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
}
.advantages-item_text {
    text-align: center;
    font-weight: 400;
    
}