.footer__tablet {
  border-bottom: 1px solid #e1e1e1;

  @include tablet {
    display: flex;
    justify-content: center;
  }
}

.footer__title {
  margin-bottom: 16px;
  width: 232px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: calc(22 / 18);

  @include tablet {
    width: 352px;
    margin-bottom: 8px;
    font-size: 26px;
    line-height: calc(32 / 26);
    letter-spacing: 0.04em;
  }

  @include desktop {
    width: 680px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04em;
  }
}

.footer-title-text {
  margin-bottom: 60px;
  width: 320px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(41 / 34);
  letter-spacing: 0.01em;
  text-transform: uppercase;

  animation: blind 1.5s linear infinite;

  @include tel {
    width: 480px;
    margin-bottom: 28px;
    font-size: 36px;
    line-height: calc(59 / 48);
    
  }

  @include tablet {
    width: 374px;
    margin-bottom: 32px;
    font-size: 31px;
    line-height: calc(59 / 48);
    
  }

  @include desktop {
    min-width: 700px;
    margin-bottom: 60px;
    font-size: 58px;
    line-height: calc(71 / 58);    
  }
}

@keyframes blind {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

// ----- Animation!-----


.footer-title-text .footer-text-span {
  display: inline-block;
  animation: float 0.2s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}

.footer-main-title:hover .footer-text-span {
  animation: bounce 0.6s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

.footer-text-span:nth-child(4n) {
  color: var(--second-color);
  text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%),
    3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}
.footer-text-span:nth-child(4n-1) {
  color: var(--second-color);
  text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%),
    3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}
.footer-text-span:nth-child(4n-2) {
  color: var(--second-color);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%),
    3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}
.footer-text-span:nth-child(4n-3) {
  color: var(--second-color);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%),
    3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

.footer-title-text .footer-text-span:nth-child(2) {
  animation-delay: 0.05s;
}
.footer-title-text .footer-text-span:nth-child(3) {
  animation-delay: 0.1s;
}
.footer-title-text .footer-text-span:nth-child(4) {
  animation-delay: 0.15s;
}
.footer-title-text .footer-text-span:nth-child(5) {
  animation-delay: 0.2s;
}
.footer-title-text .footer-text-span:nth-child(6) {
  animation-delay: 0.25s;
}
.footer-title-text .footer-text-span:nth-child(7) {
  animation-delay: 0.3s;
}
.footer-title-text .footer-text-span:nth-child(8) {
  animation-delay: 0.35s;
}
.footer-title-text .footer-text-span:nth-child(9) {
  animation-delay: 0.4s;
}
.footer-title-text .footer-text-span:nth-child(10) {
  animation-delay: 0.45s;
}
.footer-title-text .footer-text-span:nth-child(11) {
  animation-delay: 0.5s;
}
.footer-title-text .footer-text-span:nth-child(12) {
  animation-delay: 0.55s;
}


.container .footer__social {
  width: 100%;
  padding-right: 0px;
}

.footer__subtitle {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;

  @include tablet {
    padding-top: 60px;
    margin-bottom: 34px;
  }

  @include desktop {
    margin-bottom: 40px;
    padding-top: 18px;
  }
}

.footer__item {
  margin-right: 20px;
  border: transparent;
  border-radius: 50%;

  &:nth-child(3) {
    margin-right: 0px;
  }
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: transparent;
  color: #84a178;
  background-color: var(--accent-link-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--second-color);
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    cursor: url(../images/cursor-ice.png), pointer;
  }
}

.footer__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22.32 / 12);
  text-align: right;
  text-decoration: none;

  color: var(--additional-color);

  @include tablet {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: calc(26.04 / 12);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(29.76 / 16);
    letter-spacing: 0.02em;
  }
}

.footer__contact {
  padding-left: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22.32 / 12);
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #ffffff;

  @include tablet {
    font-size: 14px;
    line-height: calc(26.04 / 12);
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(29.76 / 16);
  }
  &:hover,
  &:focus {
    cursor: url(../images/cursor-ice.png), pointer;
  }
}

.footer__copyright {
  display: block;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;

  max-width: 160px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21.28 / 14);
  letter-spacing: 0.02em;
  text-align: center;
  color: #7a7a7a;
  @include tel {
    padding-top: 20px;
    padding-bottom: 24px;
  }

  @include tablet {
    max-width: 298px;
    line-height: calc(26.04 / 14);
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @include desktop {
    font-size: 12px;
    line-height: calc(22.32 / 12);
  }
}

