// ----- Containers! -----

.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 12px;
  padding-left: 0px;

  display: flex;

  justify-content: start;

  z-index: 5;
}

@include tel {
  .page-header {
    padding-top: 14px;
  }
}

@include tablet {
  .page-header {
    padding-top: 20px;
  }
}

@include desktop {
  .page-header {
    padding-top: 8px;
  }
}

.container-header {
  position: relative;
  display: flex;
}

// ----- Site-nav! -----

.header-site-nav {
  position: absolute;
  bottom: 0;
  left: 300px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 1199px) {
  .header-site-nav {
    display: none;
  }
}

.header-site-nav-text {
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--second-color);
  text-decoration: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 28px;
  }
  &:hover,
  &:focus {
    color: var(--accent-link-color);
  }
  cursor: url(./../images/Cursor.png), pointer;
}

// ----- Language selector! -----

.lang-select {
  position: absolute;
  right: 75px;
  bottom: 0;
}

@include tel {
  .lang-select {
    right: 85px;
  }
}

@include tablet {
  .lang-select {
    right: 260px;
  }
}

@include desktop {
  .lang-select {
    right: 195px;
  }
}

.change-lang {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: var(--additional-color);
  background: var(--accent-link-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
  border: 0px;
  font-family: inherit;
  cursor: auto;
}

@media screen and (max-width: 479px ) {
  .change-lang {
  padding: 5px 20px;
  }
  
}

.change-lang-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;

  color: var(--additional-color);
  cursor: pointer;
}

// ----- Button Buy now! -----

@media screen and (max-width: 767px) {
  .btn-header {
    display: none;
  }
}

@include tablet {
  .btn-header {
    position: absolute;
    bottom: 0;
    right: 85px;
    display: block;
    height: 42px;
    width: 152px;
    justify-content: end;

    padding: 10px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.16;
    text-align: center;
    justify-content: center;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: url(./../images/Cursor.png), pointer;
    &:hover {
      background-color: var(--focus-color);
    }
    &:focus {
      color: var(--second-color);
      background-color: var(--focus-color);
    }
    &:disabled {
      background-color: var(--disabled-color);
    }
  }
}

@include desktop {
  .btn-header {
    right: 16px;
  }
}

// ----- Button Mobile menu! -----

.btn-mobmenu-open {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 6px;
  right: 21px;

  background-color: transparent;
  border: none;

  fill: currentColor;

  &:hover {
    color: var(--focus-color);
  }

  @include tel {
    top: 8px;
    right: 33px;
  }

  @include desktop {
    display: none;
  }
}

// ----- Button Mobile menu! -----
