.reviews {
  padding-top: 178px;
  background-image: url('..//../images/480/bg-480.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1037px;
  @include tel {
    padding-top: 256px;
  }
  @include tablet {
    padding-top: 283px;
  }
  @include desktop {
    padding-top: 464px;
  }

  @include tel {
    background-image: url('..//../images/mobile/bg_mob.jpg');

    @include retina {
      background-image: url('..//../images/mobile/bg_mob-2x.jpg');
    }
    height: 1131px;
  }

  @include tablet {
    background-image: url('..//../images/tablet/bg_tab.jpg');

    @include retina {
      background-image: url('..//../images/tablet/bg_tab-2x.jpg');
    }
    height: 1017px;
  }

  @include desktop {
    background-image: url('..//../images/desktop/bg_desktop.jpg');

    @include retina {
      background-image: url('..//../images/desktop/bg_desktop-2x.jpg');
    }
    height: 1053px;
  }
}
.reviews__img {
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 32px;
}

.reviews__text {
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: var(--second-color);
  width: 280px;
  height: 256px;
  padding: 35px 39px;
  background-color: var(--primary-color);
  border-radius: 10px;

  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    width: 705px;
    height: 138px;
    padding: 28px 80px 29px 80px;
    border-radius: 24px;
  }

  @include desktop {
    padding: 43px 109px;
    width: 968px;
    height: 138px;
  }
}

.reviews__name {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: var(--additional-color);
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 32px;
  }

  @include desktop {
    width: 968px;
  }
}

.slick-dots li.slick-active button:before {
  color: var(--primary-color) !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.slick-dots button:before {
  color: #d9d9d9 !important;
}

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
}
