.reviews__person {
    width: 85px;
    height: 85px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    margin-bottom: 30px;
}

.reviews__description {
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color: var(--second-color);
    width: 280px;
    height: 256px;
    padding: 35px 39px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border-color: #fff;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.04em;
        width: 705px;
        height: 138px;
        padding: 28px 80px 29px 80px;
        border-radius: 24px;
    };

    @include desktop {
        padding: 43px 109px;
        width: 968px;
        height: 138px;
    }
}

.reviews__after--title {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;
    color: var(--additional-color);
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.87;
        margin-bottom: 32px;
    };

    @include desktop {
        width: 968px;
    };
}

.slick-dots li.slick-active button:before {
    color: var(--primary-color) !important;

}

.slick-dots li button:before {
    font-size: 12px !important;
}

.slick-dots button:before {

    color: #D9D9D9 !important;

}

.slick-slide img {
    margin-left: auto;
    margin-right: auto;
}